JWT_SECRET=6f60049bb9a5d15cb1d6e355743b59bf7a5369bb408b89e782b5fa3714b2d56a
STORAGE_TYPE=postgres
HTTP_PORT=8080
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=12345
PETS_HTTP_ADDR=pets:8080