JWT_SECRET=6f60049bb9a5d15cb1d6e355743b59bf7a5369bb408b89e782b5fa3714b2d56a
STORAGE_TYPE=postgres
HTTP_PORT=8080
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=12345

POSTGRES_HOST_T=tasks-postgres
POSTGRES_PORT_T=5432
POSTGRES_DB_T=tasks
POSTGRES_USER_T=tasks_user
POSTGRES_PASSWORD_T=12345
HTTP_ADDR_T=:8081
DATABASE_DSN_T=postgres://tasks_user:12345@tasks-postgres:5432/tasks?sslmode=disable
USER_SERVICE_URL_T=http://users:8080
PET_SERVICE_URL_T=http://pets:8080

PETS_HTTP_ADDR=pets:8080
