# Binaries and executables
bin/
*.exe
*.dll
*.so
*.dylib
main

# Go test and coverage artifacts
*.out
*.test
*.http

# Environment files
.env
.env.local
.env.*.local

# Temp and OS files
tmp/
.DS_Store

go.work.sum