DATABASE_URL=postgres://user:password@pets-postgres:5432/pet_db?sslmode=disable
HTTP_PORT=8080
JWT_SECRET=6f60049bb9a5d15cb1d6e355743b59bf7a5369bb408b89e782b5fa3714b2d56a
USER_SERVICE_URL=http://users:8080
SESSION_STORE=redis