DATABASE_URL=postgres://user:password@pets-postgres:5432/pet_db?sslmode=disable
HTTP_PORT=8080
JWT_SECRET=6f60049bb9a5d15cb1d6e355743b59bf7a5369bb408b89e782b5fa3714b2d56a
USER_SERVICE_URL=http://users:8080
SESSION_STORE=redis

GIGACHAT_AUTH_KEY="MDE5ZmYzMWItOWVmOS03ODIxLWFhODQtZTM1NzMzNDc4ZWFlOjFkYWMyMTg3LTQ4MzYtNDc4NS04YjYxLTAzYjJhNmUzMDFhNg=="
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-2
GIGACHAT_OAUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
GIGACHAT_API_BASE_URL=https://api.giga.chat
GIGACHAT_CLIENT_ID="019ff31b-9ef9-7821-aa84-e35733478eae"
GIGACHAT_CLIENT_SECRET="1dac2187-4836-4785-8b61-03b2a6e301a6"

GIGACHAT_INSECURE_SKIP_VERIFY=false
